@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600&display=swap');

* {
    box-sizing: border-box;
}


body {
    color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    margin: 0;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    opacity: 0.65;
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 50px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 60px;
}

.btn-primary {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}

.container {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 0 35px;
}
 

header {
    background-image: url('./images/bg-hero-desktop.svg');
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    padding: 50px 0;
}

.flex {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    margin-bottom: 40px;
}


.header-img {
    margin-left: 20%;
    
}

.box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 35px 0;
    padding: 50px;
}




.center {
    text-align: center;
}



.small-box {
    
    margin-bottom: -50%;
    z-index: 1;
    display: inline-block;
    position: relative;
}

footer {
    background: hsl(192, 100%, 9%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 70px 70px 70px;
    font-size: 14px;
    position: relative;
    
    
}

footer .logo {
    color: white;
    
}

footer .contact {
    max-width: 350px;
    width: 100%;
    margin-right: 2rem;
}

footer .contact p {
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
}


footer .contact p img {
    height: 14px;
    margin-right: 15px;
    margin-top: 3px;
}

.footer-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

footer a:hover {
    text-decoration: underline;
}

footer .links {
    display: flex;
    flex-direction: column;
}

footer .socials {
    font-size: 20px;
    align-self: flex-start;
}

footer .circle {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

.copyright {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 12px;
    
}



 @media (max-width: 376px) {
    
    body {
            text-align: center;
        }
    
    nav.flex {
        flex-direction: column;
    }

    button.btn{
        margin-top: 30px;
    }

    .header-img {
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
    }

    .flex {
        flex-direction: column;
    }
    .box-reverse-mobile {
        flex-direction: column-reverse;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 150px 30px 70px 30px;
    }

    .footer-section {
        margin-top: 2rem;
        flex-direction: column;
    }
    footer .links{
        align-self: center;
    }

    footer .socials {
        align-self: center;
    }

    .copyright {
        right: 50%;
        transform: translateX(50%);
        width: 300px;
    }

 }

 @media screen and (max-width: 780px) {
    body {
        text-align: center;
    }

    nav.flex {
        flex-direction: row;
    }

    .header-img {
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
    }

    .flex {
        flex-direction: column;
    }

    .box-reverse-mobile {
        flex-direction: column-reverse;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 150px 30px 70px 30px;
        width: 100%;
    }

   span.text{
        color: white;
        text-align: center;
       margin: 0 auto;
    }

    .footer-section {
        margin-top: 2rem;
        flex-direction: column;
    }

    footer .links {
        align-self: center;
    }

    footer .socials {
        align-self: center;
    }

    .copyright {
        right: 50%;
        transform: translateX(50%);
        width: 300px;
    }
    
}